.advantages__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  height: 545px;
}
.advantages__item {
  width: 350px;
}
.advantages__icon {
  margin-bottom: 30px;
}
.advantages__description {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  color: #000000;
  white-space: pre-line;
}