.file__heading {
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 900;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
.file__wrapper {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap: 30px;
}
.file__item {
  padding-top: 40px;
  padding-left: 40px;
  background: url("../images/file/file-background.png") 0 0/350px 350px no-repeat;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  color: #000000;
  text-align: left;
}
.file__icon {
  margin-bottom: 87px;
}
.file__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
}
.file__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}