.footer {
  text-align: start;
}
.footer__logo {
  margin-bottom: 27px;
}
.footer__wrapper {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 186px 174px 1fr;
  gap: 200px;
}
.footer__law-description {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #7E7E7E;
  white-space: pre-line;
}
.footer__law-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #2E9ADB;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__law-link:hover {
  text-decoration: underline;
}
.footer__law-link:not(:last-child) {
  margin-bottom: 20px;
}
.footer__list li:not(:last-child) {
  margin-bottom: 28px;
}
.footer__navigation-link {
  position: relative;
  top: -2px;
  left: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #1C1C1C;
  text-decoration: none;
}
.footer__navigation-link:hover {
  text-decoration: underline;
}

.footer_list_marker_arrow {
  padding-left: 17px;
  list-style-image: url(../images/footer/list-image.svg);
}
.footer_list_marker_app-icon {
  padding-left: 23px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #000000;
}
.footer_list_marker_app-icon li {
  position: relative;
  left: 0px;
  top: -4px;
}
.footer_list_marker_app-icon li:nth-child(1) {
  list-style-image: url(../images/footer/icon-email.svg);
}
.footer_list_marker_app-icon li:nth-child(2) {
  list-style-image: url(../images/footer/icon-telegram.svg);
}
.footer_list_marker_app-icon li:nth-child(3) {
  list-style-image: url(../images/footer/icon-skype.svg);
}