.form {
    padding: 213px 0 140px;

    text-align: center;
    background: url("../images/form/wave-down1.svg") 50% 705px / 1440px no-repeat, url("../images/form/wave-down2.svg") 50% 705px / 1440px no-repeat, url("../images/form/wave-down3.svg") 50% 692px / 1440px no-repeat, url("../images/form/wave-up1.svg") 50% -167px / 1440px no-repeat, url("../images/form/wave-up2.svg") 50% -167px / 1440px no-repeat, url("../images/form/wave-up3.svg") 50% -167px / 1440px no-repeat, url("../images/form/dots.png") 50% 263px / 1310px auto no-repeat, linear-gradient(195.2deg, #2E9ADB 10.68%, #55B570 89.32%) 50% 50% / 1440px auto no-repeat;

    &__heading {
        margin-bottom: 40px;

        font-size: 30px;
        font-weight: 900;
        line-height: 37px;
        color: #FFFFFF;
    }

    &__input {
        display: block;
        margin: 0 auto;
        padding-left: 30px;

        width: 730px;
        height: 80px;
        
        background: #FFFFFF;
        border-radius: 40px;
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: rgba(126, 126, 126, 0.5);

        &:not(:last-of-type) {
            margin-bottom: 20px;
        }

        &:last-of-type {
            margin-bottom: 40px;
        }

        &::-webkit-input-placeholder {
            color: rgba(126, 126, 126, 0.5);
        }
        &::-moz-placeholder {
            color: rgba(126, 126, 126, 0.5);

        }
        &:-moz-placeholder {
            color: rgba(126, 126, 126, 0.5);

        }
        &:-ms-input-placeholder {
            color: rgba(126, 126, 126, 0.5);

        }
        &::placeholder {
            color: rgba(126, 126, 126, 0.5);

        }
        &:placeholder-shown {
            // color: rgba(126, 126, 126, 0.5);
            color: green;
        }
    }
}