.info {
  padding-top: 169px;
  background: url("../images/info/background.png");
  background-position: top;
  background-position-y: -80px;
  background-size: auto 980px;
  background-repeat: no-repeat;
}
.info__heading {
  font-size: 60px;
  font-weight: 900;
  line-height: 75px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.info__description {
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
}
.info__achivment-list {
  position: relative;
  top: -10px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #FFFFFF;
}
.info__achivment-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.info__achivment-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 12px;
  width: 2px;
  height: 150px;
  background: rgba(255, 255, 255, 0.25);
}
.info__achivment-title {
  display: block;
  font-size: 40px;
  font-weight: 800;
  line-height: 49px;
  color: #FFFFFF;
}
.info__navigation {
  display: flex;
  width: 100%;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.info__navigation-block {
  padding-top: 58px;
  width: 50%;
  height: 100%;
  text-align: center;
}
.info__navigation-description {
  margin: 0 auto 32px;
  width: 454px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}