.payments {
    &__description {
        margin: 0 auto 82px;

        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #939393;
    }

    &__wallet-list {
        margin: 0 auto 76px;
        display: flex;
        justify-content: space-between;
        width: 910px;
    }
}
